CREATE TABLE IF NOT EXISTS mpm.{{ toLower .ClassName }} (
    EventDate Date,
    EventTime DateTime,
    Microsecond UInt64,
    ControllerNo UInt64,
    Bitmap0 UInt64,
    Bitmap1 UInt64,
    Bitmap2 UInt64,
    Bitmap3 UInt64,
    Bitmap4 UInt64,
    Bitmap5 UInt64,
    Bitmap6 UInt64,
    Bitmap7 UInt64,
    Bitmap8 UInt64,
    Bitmap9 UInt64,
{{ range $index, $element := .Table.Data }}
    {{- if $index}},{{end}}
    {{ if eq $element.ValueType "float64" }}{{ keyChainsToClickhouseFields $element.KeyChains }} Float64{{ end -}}
    {{ if eq $element.ValueType "string" }}{{ keyChainsToClickhouseFields $element.KeyChains }} String{{ end -}}
    {{ if eq $element.ValueType "bool" }}{{ keyChainsToClickhouseFields $element.KeyChains }} UInt8{{ end -}}
    {{ if eq $element.ValueType "mixed" }}{{ keyChainsToClickhouseFields $element.KeyChains }} String{{ end -}}
    {{ if eq $element.ValueType "array" }}{{ keyChainsToClickhouseFields $element.KeyChains }} String{{ end -}}
{{ end }}
) ENGINE = MergeTree PARTITION BY EventDate ORDER BY (EventDate, EventTime, Microsecond);
